body {
    margin: 0;
    padding: 0;
}


/* 宣告電腦版不支援 */
#pcNoRwd {
    display: none;
}
@media screen and (min-width:576px) {
    #pcNoRwd {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: aqua;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
    }
    #pcNoRwd > p {
        text-align: center;
        color: #d4b100;
        font-size: 5vw;
        font-weight: bold;
    }
}


/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

.handle {
    position: relative;
    top: 0.1em;
    margin: 0 1em;
    width: 1em;
    height: 1em;
}

.checkBox {
    position: relative;
    top: 0.1em;
    margin: 0 1em 0 0;
    width: 1em;
    height: 1em;
}

.toDo {
    margin: 0 1em 0 0;
    width: 60vw;
    word-break: break-word;
}

.inputToDoContent {
    margin: 0 1em 0 0;
    width: 60vw;
    font-size: 1em;
}

.delete {
    position: relative;
    top: 0.1em;
    margin: 0 1em 0 0;
    width: 1em;
    height: 1em;
}

.addToDo {
    position: relative;
    top: 0.1em;
    margin: 0 1em 0 3em;
    width: 1em;
    height: 1em;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 1em 0;
    background: #eee;
    font-size: 5vw;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
background: #888;
color: #fff;
text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
/* 這裡原本會用css產生打勾圖案，用不到 */
/* ::before => 虛擬元素選擇器 */
/* ul li.checked::before {
content: '';
position: absolute;
border-color: #fff;
border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
} */


/* Style the close button */
.close {
position: absolute;
right: 0;
top: 0;
padding: 12px 16px 12px 16px;
}

.close:hover {
background-color: #f44336;
color: white;
}

/* Style the header */
/* .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
} */

/* Clear floats after the header */
.header:after {
content: "";
display: table;
clear: both;
}

/* Style the input */
input {
margin: 0;
border: none;
border-radius: 0;
width: 75%;
padding: 10px;
float: left;
font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
padding: 10px;
width: 25%;
background: #d9d9d9;
color: #555;
float: left;
text-align: center;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
border-radius: 0;
}

.addBtn:hover {
background-color: #bbb;
}